# ===============================
# Core API
# ===============================
fastapi
uvicorn[standard]
pydantic
pydantic-settings

# ===============================
# ML / Data
# ===============================
numpy
pandas
scikit-learn
joblib
torch

# ===============================
# Feature Store / MLOps
# ===============================
feast
mlflow

# ===============================
# Infra / Utils
# ===============================
requests
python-dotenv
psutil